<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
                <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
                        <div class="container">
                            <ul class="nav navbar-nav" >
                                <li class="nav-item" >
                                        <a [routerLink]="['/']" routerLinkActive="active" class="nav-link active" href="#">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a [routerLink]="['/developer']" class="nav-link" href="#">Developer</a>
                                </li>
                                <li class="nav-item">
                                    <a [routerLink]="['/designer']" class="nav-link" href="#">Designer</a>
                                </li>
                                <li class="nav-item">
                                    <a [routerLink]="['/hr']" class="nav-link" href="#">HR</a>
                                </li>
                                <li class="nav-item">
                                    <a [routerLink]="['/qa']" class="nav-link" href="#">QA</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>