<div class="col-md-10">
    <h4>Developers:</h4>
    <table class="table">
            <thead>
                <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Designation</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                <th scope="row">{{user.id}}</th>
                <td>{{user.name}}</td>
                <td>{{user.designation}}</td>
                <td><a (click)="deleteUser(user.id)">Delete</a></td>
                </tr>
            </tbody>
        </table>
</div>
<div class="col-md-10">
    <form name="form" (ngSubmit)="f.form.valid && create(name)" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <div class="col-md-4">
                <input type="text" class=" form-control" name="username" [(ngModel)]="name" #username="ngModel" placeholder="Name" required />
                <div *ngIf="f.submitted && !username.valid" class="help-block">Name is required</div>           
            </div>
            <div class="col-md-2">
                <button [disabled]="loading" class="btn btn-primary">Create +</button>
            </div>
           
        </div>
        
    </form>
</div>
<div class="col-md-offset-10">
        <span><a [routerLink]="['/login']">Logout</a></span>
</div>